APP_NAME=nest-backend
APP_NODE_ENV=development
APPS_API_PORT=8000
APPS_API_HOST=http://localhost:8000
DATABASE_URL=postgresql://app:app@localhost:5432/app
DATABASE_LOG=false
DATABASE_RUN_MIGRATIONS=false
